extends layout

block content
  h1 Timestamp Microservice
  p Example Usage
  code https://timestampmqt.herokuapp.com/November 28, 2018
  br
  code https://timestampmqt.herokuapp.com/1543363200
  p Expected Output is JSON
  code {"unix":1543363200,"utc":"November 28, 2018"}