extends layout

block content
  h1 Timestamp Microservicee
  p Example Usage
  code https://timeapiserver.herokuapp.com/December 13, 2016
  br
  code https://timeapiserver.herokuapp.com/1481562000
  p Expected Output is JSON
  code {"unix": 1481562000, "natural": December 13, 2016}
